/* dynamic-box.css */
:root {
  --box-transition-duration: 1s;
  --dynamic-box-width: 850px;
  --dynamic-box-height: 180px;
  --dynamic-box-orange-width: 500px;
  --dynamic-box-orange-height: 10px;
  --dynamic-box-green-width: 400px;
  --dynamic-box-green-height: 120px;
  --dynamic-box-yellowgreen-width: 600px;
  --dynamic-box-yellowgreen-height: 10px;
  --gap: -40rem;
  /* space between box and content */
}

.dynamic-box {
  position: absolute;
  top: 12.5rem;
  right: 8rem;
  width: var(--dynamic-box-width);
  height: var(--dynamic-box-height);
  background-color: #3498db;
  transform: skewY(-3deg);
  border-radius: 20px;
  z-index: 1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  will-change: transform, top, right, width, height, background-color;
  transition:
    top var(--box-transition-duration) ease-in-out,
    right var(--box-transition-duration) ease-in-out,
    width var(--box-transition-duration) ease-in-out,
    height var(--box-transition-duration) ease-in-out,
    transform var(--box-transition-duration) ease-in-out,
    background-color var(--box-transition-duration) ease-in-out;
}

.dynamic-box.rotate-about {
  top: 20rem;
  right: 70rem;
  transform: rotate(90deg) skewY(3deg);
  background-color: orange;
  height: var(--dynamic-box-orange-height);
  width: var(--dynamic-box-orange-width);
}

.dynamic-box.rotate-skills {
  top: 22rem;
  right: 10rem;
  transform: rotate(-90deg) skewY(15deg);
  background-color: green;
  height: var(--dynamic-box-green-height);
  width: var(--dynamic-box-green-width);
  z-index: 0; /* ensure it stays behind content */
}

.dynamic-box.rotate-experience {
  top: 24rem;
  right: 70rem;
  transform: rotate(-270deg) skewY(0deg);
  background-color: yellowgreen;
  height: var(--dynamic-box-yellowgreen-height);
  width: var(--dynamic-box-yellowgreen-width);
  z-index: 0;
}

.dynamic-box.rotate-certifications {
  position: absolute; /* Fixed positioning relative to the viewport */
  right: 20px; /* Align at the right of the viewport */
  background-color: purple;
  z-index: 0;
  width: 300px; /* Width of the circle */
  height: 300px; /* Height of the circle */
  padding: 0; /* Remove padding, so the button is perfectly circular */
  border-radius: 100%; /* Make the object a circle */
  transform: rotate(-160deg) skewY(0deg); /* Apply rotation */
}
