.modern-pagination {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  position: relative;
}

.modern-pagination .page-indicator {
  display: flex;
  gap: 8px;
}

.modern-pagination .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
}

.modern-pagination .dot.active {
  background-color: #007BFF;
  transform: scale(1.5);
}
