/* home.html */

.profile-layout {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-left: 300px;
}

.details {
  flex: 1;
  padding-top: 120px;
}

.contact {
  padding-left: 34px;
}

.contact a {
  text-decoration: none;
  color: inherit;
}

.name {
  font-family: "Bonheur Royale", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
}
#contact-list a {
  padding: 8px;
}
#contact-list a i {
  transition: color 0.3s;
  color: #000000;
}

#contact-list a i:hover {
  color: #0077b5; /* Example hover color */
}