.projects {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 60px;
}

.projects-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem 0;
  
  /* Optional scroll snapping for smooth sections */
  scroll-snap-type: x mandatory;

  /* Hide scrollbar visually */
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE/Edge */
}

.projects .title {
  padding: 1rem 0;
}

/* Each card */
.projects-wrapper > div {
  scroll-snap-align: start;
  min-width: 100%;
  overflow-wrap: anywhere;
  border-radius: 8px;
  padding: 1rem;
  box-sizing: border-box;
}

.projects-wrapper h3 a {
  color: inherit;
  text-decoration: none;
}
.projects-wrapper h3 a:hover {
  text-decoration: underline;
}